<div class="form">
  <div id="username" class="form__field">
    <p>Username</p>
    {{validatable-input
      errors=usernameErrors
      type="text"
      value=username
    }}
  </div>
  <div id="email" class="form__field">
    <p>Email</p>
    {{validatable-input
      errors=emailErrors
      type="text"
      value=email
    }}
  </div>
  <div id="email-confirmation" class="form__field">
    <p>Email Confirmation</p>
    {{validatable-input
      errors=emailConfirmationErrors
      type="text"
      value=emailConfirmation
    }}
  </div>
  <div id="password" class="form__field">
    <p>Password</p>
    {{validatable-input
      errors=passwordErrors
      type="password"
      maxlength=8
      value=password
    }}
  </div>
  <div id="wage" class="form__field">
    <p>Wage</p>
    {{validatable-input
      errors=wageErrors
      type="text"
      value=wage
    }}
  </div>
</div>
